name: Windows MSYS

on: [push, pull_request]

env:
  FORCE_COLOR: 1

defaults:
  run:
    shell: msys2 {0}

jobs:
  windows-msys:
    runs-on: windows-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    strategy:
      matrix:
        shells:
          - {shell: sh,          package: sh}
          - {shell: dash,        package: dash}
          - {shell: bash,        package: bash}
          - {shell: busybox ash, package: busybox}
          - {shell: mksh,        package: mksh}
          - {shell: zsh,         package: zsh}
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: ${{ matrix.shells.package }}
      - run: ${{ matrix.shells.shell }} ./shellspec --task fixture:stat:prepare
      - run: ${{ matrix.shells.shell }} ./shellspec
